.root {
    max-height: 900px;
    max-width: 1440px;
    background: #F7F7F8;
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    border: 0px solid #EAEBED;
}

@media (max-width:800px) {
    .root {
        max-height: 2000px;
    }
}

body {
    background-color: grey;
    font-family: sans-serif;
    margin: 0;
    min-height: -webkit-fill-available;
    -webkit-text-size-adjust: none;
    padding-top: env(safe-area-inset-top);
}






.flex_main {
    display: flex;
    flex-direction: row;
    gap: 28px;
    margin-left: 162px;
    margin-top: 40px;
    margin-right: 162px;
}

@media (max-width:800px) {
    .flex_main {
        flex-direction: column;
        margin-left: 0px;
        margin-top: 10px;
        margin-right: 0px;
        gap: 10px;
    }
}


.filter {
    display: flex;
    flex: 1 1 30%;
    flex-wrap: wrap;
    width: 315px;
    height: 360px;
    background: #FFFFFF;
    border-radius: 12px;
    border: 1px solid #EAEBED;
    flex-direction: column;
    justify-content: space-around;
    box-sizing: border-box;

}

@media (max-width:800px) {
    .filter {
        height: 330px;
    }
}

.fil {
    display: flex;
    box-sizing: border-box;
    flex-direction: row;
    justify-content: space-between;
    flex: 1 1;
    align-items: center;
    padding-left: 10px;
    padding-right: 10px;
    max-height: 36px;
}

.otrasl {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    flex: 1;
    padding: 10px;
    gap: 10px;
}

.selec {
    padding: 10px;
    height: 42px;
    border: 1px solid #D5D6DC;
    border-radius: 8px;
}


.oklad {
    display: flex;
    justify-content: flex-start;
    flex: 1;
    padding: 10px;
    flex-direction: column;

}



.button {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
    padding: 10px;

}


.main_info {
    display: flex;
    flex: 1 1;
    max-height: 660px;
    max-width: 773px;
    flex-direction: column;
    flex-wrap: wrap;
}

@media (max-width:800px) {
    .main_info {
        justify-content: center;

    }
}



.main_info_item {
    display: flex;
    flex: 1 1;
    min-height: 130px;
    flex-wrap: wrap;
    max-width: 100%;
    flex-wrap: wrap;
    flex-direction: column;
    padding: 10px;
    background: #FFFFFF;
    border-radius: 12px;
    border: 1px solid #EAEBED;
    box-sizing: border-box;
    text-decoration: none;
    justify-content: space-around;

}

.container {
    display: flex;
    flex-direction: column;
    flex: 1;
    justify-content: center;
    max-height: 660px;
    max-width: 770px;
    max-width: 100%;
    margin-top: 12px;
}

.content {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    gap: 5px;
    flex-wrap: wrap;
    align-items: center;
}



.text {
    color: #232134;
    text-decoration: none;
}

.main_info_item1 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}


.baraside {
    display: flex;
    justify-content: center;
    flex: 1 1;
}